.slider_play {
  -webkit-appearance: none;
  width: 100%;
  height: 2px;
  outline: none;
  border-radius: 0px;
  background: #555;
}

.slider_play:hover {
  height: 5px;
}

.slider_play:hover::-webkit-slider-thumb {
  width: 20px;
  height: 20px;
}

.slider_play::-webkit-slider-thumb {
  opacity: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
  /* transition: 0.3s all; */
}

.redslider::-webkit-slider-thumb {
  pointer-events: auto;
}

.slider_play::-moz-range-progress {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background: red;
  cursor: pointer;
}

.bg-position:hover .slider_play::-webkit-slider-thumb {
  opacity: 1;
}

.popuptext {
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 8px 10px;
  position: absolute;
  bottom: 130%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.bg-position {
  background: rgb(26, 26, 26);
}

.slider {
  -webkit-appearance: none;
  width: 80%;
  height: 5px;
  border-radius: 8px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  cursor: pointer;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: yellow;
  cursor: pointer;
}

#container {
  color: white;
  border-radius: 50%;
  border: 3px solid #ffbd17;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#container2 {
  color: white;
  border-radius: 5px;
  background-color: #17a2b8;
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.flashani {
  -webkit-animation: flash linear 4s infinite;
  animation: flash linear 4s infinite;
}
@-webkit-keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes flash {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.1;
  }
  100% {
    opacity: 1;
  }
}

.vertical-center {
  height: 70px;
  display: flex;
  align-items: center;
}

.vertical-center-mobile {
  height: 70px;
  display: flex;
  align-items: center;
}

.vertical-center-playlist {
  height: 100%;
  display: flex;
  align-items: center;
}

.vertical-center-playlist-top {
  display: flex;
  align-items: center;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(36, 36, 36, 0.9);
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: 0.5s ease;
}

.image-preview > div {
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.popuptime {
  width: auto;
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  bottom: 130%;
  z-index: 1080;
}

.popuptime_extra {
  width: auto;
  background-color: rgb(40, 40, 40);
  color: white;
  text-align: center;
  border-radius: 6px;
  padding: 4px 8px;
  position: absolute;
  bottom: 130%;
}

.popuptime::after,
.popuptime_extra::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -3px;
  border-width: 3px;
  border-style: solid;
  border-color: rgb(40, 40, 40) transparent transparent transparent;
}

.detailtext {
  width: 65%;
  color: white;
  position: absolute;
  bottom: 130%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.detailtext-less {
  color: white;
  position: absolute;
  bottom: 130%;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.fix-less-fonts {
  font-size: 13px;
}
